#!/usr/bin/make -f

export DH_VERBOSE=1
version := $(shell dpkg-parsechangelog -S Version)
mainver := $(shell echo $(version) | sed 's/[+-].*//')
mvnrepo := debian/wadc/usr/share/maven-repo

%:
	dh $@ --buildsystem=maven

ADOCS = $(wildcard doc/*.adoc)
DOCS  = $(subst .adoc,.html, $(ADOCS))

doc/%.html: doc/%.adoc
	asciidoctor -a 'webfonts!' $<

override_dh_auto_build: $(DOCS)
	echo git.commit.id.describe="v$(version) (Debian)" > src/main/resources/git.properties
	dh_auto_build --buildsystem=maven

override_dh_auto_clean:
	rm -f $(DOCS)
	dh_auto_clean --buildsystem=maven
	rm -f src/main/resources/git.properties

override_dh_auto_install:
	dh_auto_install --buildsystem=maven
	# workarounds for maven-debian-helper being ...weird
	mv $(mvnrepo)/org/redmars/wadc/wadc/$(mainver)/wadc-$(mainver).jar debian/wadc/usr/share/wadc/wadc.jar
	rm $(mvnrepo)/org/redmars/wadc/wadc/$(mainver)/wadc-$(mainver).pom
	rm -r $(mvnrepo)
	chmod +x debian/wadc/usr/share/wadc/wadc.jar
